.header__container{
    display: flex;
    background-color: rgb(150, 211, 173);
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 0.5rem 0;
}

.header__menu_container{
    visibility: hidden;
    width: 11%;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__menu{
    width: 50%
}

.header__logo{
    margin-left: 2rem;
    width: 27%;
}

.header__logo_contaier{
    display: flex;
    width: 25%;
}

.header__logo_contaier h1{ 
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin: 2rem 0 0 1rem;
}


.menu__burguer_link{
    color: rgb(115, 67, 155);
    margin-top: 1rem;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}



@media  screen and (max-width: 950px){
    .header__logo_contaier{
        width: 35%;
    }

    .header__menu_container{
    
        width: 15%;
    }

}

@media  screen and (max-width: 650px){
    .header__logo_contaier{
        width: 45%;
    }
    .header__menu_container{
    
        width: 20%;
    }
}

@media  screen and (max-width: 510px){
    .header__logo_contaier{
        width: 70%;
    }

    .header__menu_container{
    
        width: 25%;
    }
    .header__menu_container{
        visibility: visible;
        display: flex;
    }
}